<section class="section">
  <div class="container">
    <div class="has-text-centered">

      <h1 class="title"> Result.<%= @experiment[:id] %></h1>

      <table class="table is-striped" style="margin: 0 auto;" >
        <thead>
          <tr>
            <th>Model</th>
            <th>Label</th>
            <th>Score</th>
            <th>Time</th>
          </tr>
        </thead>

        <tbody>
          <% @experiment.results.to_a.each do |res| %>
            <tr>
              <td><%= res.model[:label] %></td>
              <td><%= res[:label] %> </td>
              <td><%= "%.3f" % res[:score].to_f %></td>
              <td><%= "%.3f" % res[:exec_time].to_f %></td>
            </tr>
          <% end %>

        </tbody>
      </table>
    </div>

    <div>
      <div class="field">
        <label class="label">License text:</label>
        <div class="control">
          <textarea class="textarea" placeholder="">
            <%= @experiment.text.to_s %>
          </textarea>
        </div>
      </div>
    </div>
  </div>
</section>
